/* 
#allMovies {
  display: flex; 
}

#left {
  background-color: pink;
  width: 16%;
    min-height: 90vh;
}

#right {
  background-color: yellow;
  width: 16%;
    min-height: 90vh;
}

#center {
  background-color: green;
  width: 68%;
    min-height: 90vh;
} */


