body {
  padding-left: 15%;
  padding-right: 15%;
}

nav.navbar.navbar-light.bg-faded {
    padding: 50px;
}

.navbar-brand {
  padding-left: 43%;
}

#allMovies {
  padding-top: 30px;
  padding-left: 18%;
}

ul.nav.nav-pills {
    padding-left: 23%;
}

h1.navbar-brand.mb-0 {
    font-size: 350%;
}

.form-row {
    padding-left: 23%;
}

#tdSeparater {
  padding-right: 10px;
}